<div class="jumbotron">
    <h2>Quiz for: {{courseName}}</h2>

    <form action="quiz.php" method="post">
    <samp  id="qstion">
        <b> Question 1 </b>
        <div class="radio"  ng-repeat="question in Quiz">
             <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="{{question.option}}"
                       ng-click="selectOption(question.id)" checked>
                <span ng-class="{'boldQuizAnswer':question.selectedOption}" >{{question.name}}</span>
            </label>
        </div>
    </samp>
     <input type="submit" class="btn btn-primary btn-lg" value="Check" >
    </form>
</div>
