<!DOCTYPE html>
<html>
    <head>
        <title>Choose your destiny...</title>
        <meta charset="UTF-8">
        <link href="index/indexCSS/indexStyle.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1><span>WEB Course 2015B - Home Exercise 2</span></h1>
        <br>
        <h2>Pick solution type:</h2>
        <a href="withElements/elements.html">View exercise with elements</a>
        <br><br>
        <a href="withTable/table.html">View exercise with table</a>
    </body>
</html>